In [103]:
import pandas as pd
import re
import numpy as np

In [1]:
!pwd

/Users/shehryarkhawaja/NYCDSA/webscrapping project

In [105]:
!ls

Applications                            Public
Collaterals-Oct 10, 2018.pdf            Samsung
DSA PREP                                TradeCast
Desktop                                 Untitled.ipynb
Documents                               anaconda3
Downloads                               bin
EPL_TM1.csv                             cleaning data to match club names.ipynb
EPL_Table.csv                           example.Rmd
Library                                 example.html
Movies                                  git_proj
Music                                   git_proj2
NYCDSA                                  nltk_data
Pictures                                seaborn-data

In [136]:
transfer = pd.read_csv("EPL_TM1.csv")
table = pd.read_csv("EPL_Table.csv")

In [107]:
club_names1 = transfer['Club'].tolist()
club_names1

In [29]:
club_names2 = table['Club'].tolist()
club_names2

In [30]:
club_names1 = sorted(club_names1)
club_names2 = sorted(club_names2)

In [110]:
set_names1 = set(club_names1)
set_names2 = set(club_names2)

In [111]:
names1_sorted = sorted(list(set_names1))
names2_sorted = sorted(list(set_names2))

In [131]:
names1_sorted

['Arsenal FC',
 'Aston Villa',
 'Birmingham City',
 'Blackburn Rovers',
 'Blackpool FC',
 'Bolton Wanderers',
 'Bradford City',
 'Brighton & Hove Albion',
 'Burnley FC',
 'Cardiff City',
 'Charlton Athletic',
 'Chelsea FC',
 'Coventry City',
 'Crystal Palace',
 'Derby County',
 'Everton FC',
 'Fulham FC',
 'Huddersfield Town',
 'Hull City',
 'Ipswich Town',
 'Leeds United',
 'Leicester City',
 'Liverpool FC',
 'Manchester City',
 'Manchester United',
 'Middlesbrough FC',
 'Newcastle United',
 'Norwich City',
 'Nottingham Forest',
 'Portsmouth FC',
 'Queens Park Rangers',
 'Reading FC',
 'Sheffield United',
 'Sheffield Wednesday',
 'Southampton FC',
 'Stoke City',
 'Sunderland AFC',
 'Swansea City',
 'Tottenham Hotspur',
 'Watford FC',
 'West Bromwich Albion',
 'West Ham United',
 'Wigan Athletic',
 'Wimbledon FC',
 'Wolverhampton Wanderers']

In [130]:
names2_sorted

['Arsenal',
 'Aston Villa',
 'Birmingham',
 'Blackburn',
 'Blackpool',
 'Bolton',
 'Bradford',
 'Brighton',
 'Burnley',
 'Cardiff',
 'Charlton',
 'Chelsea',
 'Coventry',
 'Crystal Palace',
 'Derby',
 'Everton',
 'Fulham',
 'Huddersfield',
 'Hull City',
 'Ipswich',
 'Leeds',
 'Leicester',
 'Liverpool',
 'Man City',
 'Man Utd',
 'Middlesbrough',
 'Newcastle',
 'Norwich',
 'Nottm Forest',
 'Portsmouth',
 'QPR',
 'Reading',
 'Sheff Wed',
 'Sheffield Utd.',
 'Southampton',
 'Spurs',
 'Stoke City',
 'Sunderland',
 'Swansea',
 'Watford',
 'West Brom',
 'West Ham',
 'Wigan',
 'Wimbledon FC',
 'Wolves']

In [114]:
print(len(names1_sorted))
print(len(names2_sorted))

46
47

In [120]:
names1_sorted.remove('AFC Bournemouth')
names2_sorted.remove('Bournemouth')
names2_sorted.remove('Barnsley FC')

In [125]:
dict_names = dict(zip(names2_sorted, names1_sorted))
dict_names

{'Arsenal': 'Arsenal FC',
 'Aston Villa': 'Aston Villa',
 'Birmingham': 'Birmingham City',
 'Blackburn': 'Blackburn Rovers',
 'Blackpool': 'Blackpool FC',
 'Bolton': 'Bolton Wanderers',
 'Bradford': 'Bradford City',
 'Brighton': 'Brighton & Hove Albion',
 'Burnley': 'Burnley FC',
 'Cardiff': 'Cardiff City',
 'Charlton': 'Charlton Athletic',
 'Chelsea': 'Chelsea FC',
 'Coventry': 'Coventry City',
 'Crystal Palace': 'Crystal Palace',
 'Derby': 'Derby County',
 'Everton': 'Everton FC',
 'Fulham': 'Fulham FC',
 'Huddersfield': 'Huddersfield Town',
 'Hull City': 'Hull City',
 'Ipswich': 'Ipswich Town',
 'Leeds': 'Leeds United',
 'Leicester': 'Leicester City',
 'Liverpool': 'Liverpool FC',
 'Man City': 'Manchester City',
 'Man Utd': 'Manchester United',
 'Middlesbrough': 'Middlesbrough FC',
 'Newcastle': 'Newcastle United',
 'Norwich': 'Norwich City',
 'Nottm Forest': 'Nottingham Forest',
 'Portsmouth': 'Portsmouth FC',
 'QPR': 'Queens Park Rangers',
 'Reading': 'Reading FC',
 'Sheff Wed': 'Sheffield United',
 'Sheffield Utd.': 'Sheffield Wednesday',
 'Southampton': 'Southampton FC',
 'Spurs': 'Stoke City',
 'Stoke City': 'Sunderland AFC',
 'Sunderland': 'Swansea City',
 'Swansea': 'Tottenham Hotspur',
 'Watford': 'Watford FC',
 'West Brom': 'West Bromwich Albion',
 'West Ham': 'West Ham United',
 'Wigan': 'Wigan Athletic',
 'Wimbledon FC': 'Wimbledon FC',
 'Wolves': 'Wolverhampton Wanderers'}

In [126]:
dict_names['Bournemouth'] = 'AFC Bournemouth'
dict_names['Barnsley FC'] = 'Barnsley FC'
dict_names['Spurs'] = 'Tottenham Hotspur'
dict_names['Stoke City'] = 'Stoke City'
dict_names['Sunderland'] = 'Sunderland AFC'
dict_names['Swansea'] = 'Swansea City'
dict_names['Sheff Wed'] = 'Sheffield Wednesday'
dict_names['Sheffield Utd.'] = 'Sheffield United'

In [135]:
print(len(dict_names))
dict_names

47

{'Arsenal': 'Arsenal FC',
 'Aston Villa': 'Aston Villa',
 'Birmingham': 'Birmingham City',
 'Blackburn': 'Blackburn Rovers',
 'Blackpool': 'Blackpool FC',
 'Bolton': 'Bolton Wanderers',
 'Bradford': 'Bradford City',
 'Brighton': 'Brighton & Hove Albion',
 'Burnley': 'Burnley FC',
 'Cardiff': 'Cardiff City',
 'Charlton': 'Charlton Athletic',
 'Chelsea': 'Chelsea FC',
 'Coventry': 'Coventry City',
 'Crystal Palace': 'Crystal Palace',
 'Derby': 'Derby County',
 'Everton': 'Everton FC',
 'Fulham': 'Fulham FC',
 'Huddersfield': 'Huddersfield Town',
 'Hull City': 'Hull City',
 'Ipswich': 'Ipswich Town',
 'Leeds': 'Leeds United',
 'Leicester': 'Leicester City',
 'Liverpool': 'Liverpool FC',
 'Man City': 'Manchester City',
 'Man Utd': 'Manchester United',
 'Middlesbrough': 'Middlesbrough FC',
 'Newcastle': 'Newcastle United',
 'Norwich': 'Norwich City',
 'Nottm Forest': 'Nottingham Forest',
 'Portsmouth': 'Portsmouth FC',
 'QPR': 'Queens Park Rangers',
 'Reading': 'Reading FC',
 'Sheff Wed': 'Sheffield Wednesday',
 'Sheffield Utd.': 'Sheffield United',
 'Southampton': 'Southampton FC',
 'Spurs': 'Tottenham Hotspur',
 'Stoke City': 'Stoke City',
 'Sunderland': 'Sunderland AFC',
 'Swansea': 'Swansea City',
 'Watford': 'Watford FC',
 'West Brom': 'West Bromwich Albion',
 'West Ham': 'West Ham United',
 'Wigan': 'Wigan Athletic',
 'Wimbledon FC': 'Wimbledon FC',
 'Wolves': 'Wolverhampton Wanderers',
 'Barnsley FC': 'Barnsley FC',
 'Bournemouth': 'AFC Bournemouth'}

In [137]:
table['Club'] = table['Club'].map(dict_names)

In [138]:
table['Club']

0                 Liverpool FC
1              Manchester City
2            Tottenham Hotspur
3                   Chelsea FC
4                   Arsenal FC
5            Manchester United
6                   Watford FC
7      Wolverhampton Wanderers
8               Leicester City
9              West Ham United
10                  Everton FC
11             AFC Bournemouth
12      Brighton & Hove Albion
13              Crystal Palace
14              Southampton FC
15                  Burnley FC
16            Newcastle United
17                Cardiff City
18                   Fulham FC
19           Huddersfield Town
20             Manchester City
21           Manchester United
22           Tottenham Hotspur
23                Liverpool FC
24                  Chelsea FC
25                  Arsenal FC
26                  Burnley FC
27                  Everton FC
28              Leicester City
29            Newcastle United
                ...
410          Tottenham Hotspur
411        Sheffield Wednesday
412           Newcastle United
413                 Everton FC
414              Coventry City
415               Wimbledon FC
416             Southampton FC
417          Charlton Athletic
418           Blackburn Rovers
419          Nottingham Forest
420                 Arsenal FC
421          Manchester United
422               Liverpool FC
423                 Chelsea FC
424               Leeds United
425           Blackburn Rovers
426                Aston Villa
427            West Ham United
428               Derby County
429             Leicester City
430              Coventry City
431             Southampton FC
432           Newcastle United
433          Tottenham Hotspur
434        Sheffield Wednesday
435                 Everton FC
436           Bolton Wanderers
437                Barnsley FC
438             Crystal Palace
439               Wimbledon FC
Name: Club, Length: 440, dtype: object

In [139]:
table.to_csv("EPL_Table_fixed.csv", index = False)

In [158]:
year1 = table['Season'].tolist()
year_set = set(year1)

In [173]:
year_lst = list(year_set)
year_lst = sorted(year_lst)
year_lst

['00/01',
 '01/02',
 '02/03',
 '03/04',
 '04/05',
 '05/06',
 '06/07',
 '07/08',
 '08/09',
 '09/10',
 '10/11',
 '11/12',
 '12/13',
 '13/14',
 '14/15',
 '15/16',
 '16/17',
 '17/18',
 '18/19',
 '97/98',
 '98/99',
 '99/00']

In [174]:
import datetime
year = datetime.datetime.today().year
year1_lst = list(range(year-19, year))
year1_lst = year1_lst + [1997, 1998, 1999]

In [169]:
year1_lst

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 1997,
 1998,
 1999]

In [175]:
year_dict = dict(zip(year_lst, year1_lst))

In [176]:
year_dict

{'00/01': 2000,
 '01/02': 2001,
 '02/03': 2002,
 '03/04': 2003,
 '04/05': 2004,
 '05/06': 2005,
 '06/07': 2006,
 '07/08': 2007,
 '08/09': 2008,
 '09/10': 2009,
 '10/11': 2010,
 '11/12': 2011,
 '12/13': 2012,
 '13/14': 2013,
 '14/15': 2014,
 '15/16': 2015,
 '16/17': 2016,
 '17/18': 2017,
 '18/19': 2018,
 '97/98': 1997,
 '98/99': 1998,
 '99/00': 1999}

In [177]:
merged_table = pd.read_csv("Merged_table.csv")

In [179]:
merged_table["Season"] = merged_table["Season"].map(year_dict)

In [180]:
merged_table["Season"]

0      2015
1      2016
2      2017
3      2018
4      2000
5      2001
6      2002
7      2003
8      2004
9      2005
10     2006
11     2007
12     2008
13     2009
14     2010
15     2011
16     2012
17     2013
18     2014
19     2015
20     2016
21     2017
22     2018
23     1998
24     1999
25     2000
26     2001
27     2002
28     2003
29     2004
       ...
390    2005
391    2006
392    2007
393    2008
394    2009
395    2010
396    2012
397    2013
398    2014
399    2015
400    2016
401    2017
402    2018
403    1998
404    1999
405    2005
406    2006
407    2007
408    2008
409    2009
410    2010
411    2011
412    2012
413    1998
414    1999
415    2003
416    2009
417    2010
418    2011
419    2018
Name: Season, Length: 420, dtype: int64

In [182]:
merged_table.to_csv("merged_table1.csv", index = False)